.container-chart { /*Container*/
  margin: auto;
  padding: 10px;
}
.recharts-wrapper {
  margin: auto;
}
.custom-tooltip { /*Custom tooltip*/
  margin: 0;
  line-height: 24px;
  border: 1px solid #f5f5f5;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.label {
  color: #000;
}
.intro {
  border-top: 1px solid #f5f5f5;
  margin: 0;
  color: #000;
}
.headline{  /*Chart headline*/
  color: #000;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  font-size: 18px;
  text-align: center;
}
.description{  /*Chart description*/
  color: #000;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  font-size: 16px;
  text-align: center;
}
.recharts-responsive-container { /*ResponsiveContainer*/
  align-self: center;
  max-width: 800px; /* Max width for the chart */
  margin: auto;
}