.body {
  text-align: center;
}
.container-chart-pie {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-chart-subsector {
  flex: 1;
  text-align: left;

}
.subsector-list {
  list-style-type: none;
  margin:auto;
  padding: 0;
  min-width: 200px;
  text-align: left;
}
.recharts-wrapper svg {
  flex: 1;
}
.label-percentage {
  font-family: arial;
  font-size: 12px;
}
.headline{  /*Chart headline*/
  color: #000;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  font-size: 18px;
}
.description{  /*Chart description*/
  color: #000;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  font-size: 16px;
}