body {
    margin-top: 200px;
    margin:0px;
    align-content: center;
}


label {
    margin:10px;
    display: inline-block;
    width: 100px;
    text-align: right;
}

input {
    margin:10px;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
}